<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @link.text %>
</p>

<p>
  <strong>Link:</strong>
  <%= @link.link %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
